<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 全局映射器启用缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 查询时，关闭关联对象即时加载以提高性能 -->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="autoMappingBehavior" value="FULL"/>
    </settings>
    <typeAliases>
        <!--<typeAlias alias="OneItem" type="com.yellowcar.entity.OneItem"/>-->
    </typeAliases>
    <!--
<typeHandlers>
    <typeHandler handler="com.yellowcar.handler.ShuffledOrdinalEnumHandler" javaType="com.yellowcar.enums.credit_card.Status"/>
    <typeHandler handler="com.yellowcar.handler.ShuffledOrdinalEnumHandler" javaType="com.yellowcar.enums.user_push_token.Phone_type"/>
</typeHandlers>
-->
</configuration>

